<body class="bg-img">
	<div class="container" align="center">
		<div class="home-title">
			Polytics
		</div>
		<div class="home-subtitle">
			Learn, argue, grow.
		</div>
		<%= form_for @buser, remote: true do |f| %>
			<%= f.text_field :email %>
			<%= f.submit "Join the movement >>", :class => "beta-button" %>
		<% end %>
		<div class="thanks-message">
			Thanks! We'll be in touch soon.
		</div>

	</div>
</body> 