<body class="bg-img">
	<div class="container" align="center">
		<div>
			<img src="https://s3-us-west-2.amazonaws.com/bubblify/bubblify_logo.png" class="logo">
		</div>
		<canvas id="myCanvas"></canvas>
		<%= form_for @buser, remote: true do |f| %>
			<%= f.text_field :email, placeholder: "  Email" %>
			<%= f.submit "Get on the list  >>", :class => "beta-button" %>
		<% end %>
		<div class="error-message">
			Please enter a valid email address.
		</div>
		<div class="home-subtitle">
			Discover the news. Engage with friends.
		</div>
		<div class="thanks-message">
			Got it - we'll be in touch soon!
		</div>
		<div class="fb-like" style="display:none;" data-href="https://www.facebook.com/bubblify" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    <script>
      var mainCanvas = document.getElementById("myCanvas");
	  var mainContext = mainCanvas.getContext("2d"); 
	  var canvasWidth = mainCanvas.width;
	  var canvasHeight = mainCanvas.height;
	  var requestAnimationFrame = window.requestAnimationFrame ||  window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
	  var angle = 0; 
    
      function drawCircle () {
      	mainContext.clearRect(0, 0, canvasWidth, canvasHeight);
	    var radius = 50 + 7 * Math.abs(Math.cos(angle));

        mainContext.beginPath();
        mainContext.arc(canvasWidth/2, canvasHeight/2, radius, 0, Math.PI * 2, false);
   	    mainContext.closePath();
	    mainContext.fillStyle = "#1C6CBA";
	    mainContext.fill();

		mainContext.font = '40pt Nexa Light';
        mainContext.fillStyle = 'white';
        mainContext.textAlign = 'center';
        var text = "B"
		var height = mainContext.measureText(text).width;
        mainContext.fillText(text, canvasWidth/2, canvasHeight/2 + height/2);

	    angle += Math.PI / 64;  
	    requestAnimationFrame(drawCircle);
      }
       drawCircle();
      
    </script>
    <script type="text/javascript">
    var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    $('.beta-button').click(function(){
    	if (!email_format.test($('input#buser_email').val())) {
    		event.preventDefault();
    		$('div.error-message').show();
    	}
    	if (email_format.test($('input#buser_email').val())) {
    		$('div.error-message').hide();
    	}
    });	
    </script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=294772204005225";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body> 