// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #313131;
$blue: #0C5AA6;
$lightblue: #1C6CBA;


.bg-img {
  background: url(bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Nexa Light';
}

.home-title {
	padding: 80px 0px 30px 0px;
	font-size: 55px;
	color: black;
	font-weight: bold;
}

.home-subtitle {
	font-size: 25px;
	color: #313131;
}

input[type="submit"].beta-button {
	padding: 20px 30px;
	width: 80%;
	max-width: 250px;
	background: $blue;
	border-radius: 3px;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	border: none;
	cursor: pointer;
}

input[type="submit"].beta-button:hover {
	background: $lightblue;
}

input#buser_email {
	width: 80%;
	max-width: 260px;
	margin-top: 20px;
	padding: 19px 5px;
	font-size: 16px;
	border: none;
	border-radius: 3px;
}

.thanks-message {
	color: $lightblue;
	font-size: 17px;
	padding-top: 20px;
	display: none;
}