// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.circle {
	background: #EEE;
	width: 200px;
	border-radius: 50%;
	padding: 90px 0px;
	font-size: 12px;
	font-family: 'Nexa Light'
}